.print-area { display:none; }

@media print {
  body * { visibility:hidden; }

  #printArea,
  #printArea * {
    visibility:visible;
  }

  #printArea {
    position:absolute;
    left:0;
    top:0;
  }
}